@import "var";

.navigation {
  position: relative;

  .mat-list-item {
    position: relative;
    cursor: pointer;
  }
}

.navigation {
  padding: $spacing;
}

.content {
  padding: $spacing;
}
